name: Build

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          pip-install: -r requirements.txt
          cache: pip

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Setup conan
        uses: conan-io/setup-conan@v1
        with:
          version: "2.24"
          cache_packages: true
          profile_detect: false
